
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/ExampleLayout.cshtml";
}

@section header{
    burası header section içinde gözükecek alan
}

@section footer{
    burası footer da gözükecek alan.
}

<h1>Burası RenderBody de gözükecek alan.</h1>
 

